.infoWrap {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  /* border-top: 2px solid gray;
  border-bottom: 2px solid gray; */
}
.infoTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}
.infoWrapLinks {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.goBackLink {
  padding: 1px 8px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: transparent;
  margin-top: 10px;
}
.link {
  color: #000;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #999;
  font-size: 20px;
  font-weight: 500;
  transition-property: color, box-shadow;
  transition-duration: 250ms;
}
.link:hover,
.link:focus {
  color: #fff;
  box-shadow: 1px 1px 7px 2px #01010166;
}
