.filmList {
  width: 1230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
}
.filmItem {
  width: 230px;
  padding: 0px 0px 0px 0px;
  box-shadow: 1px 1px 7px 2px #01010166;

  background-color: grey;
  border-radius: 4px;
}
.filmLink {
  text-decoration: none;
}
.detailsImage {
  width: 230px;
  height: 300px;
}
.textWrap {
  position: relative;
  overflow: hidden;
}
.hiddenText {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  color: transparent;
  top: 0;
  background-color: transparent;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filmItem:hover .hiddenText {
  background-color: transparent;
  background-color: #222;
  opacity: 0.66;
  color: #fff;
}
.filmItem:hover .buttonYoutube {
  background-color: #ff0000;

  color: #ffffff;
}

.filmTitle {
  text-align: center;

  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 5px;
  transition-property: color, text-decoration;
  transition-duration: 250ms;
}
.filmTitle:hover,
.filmTitle:focus {
  color: rgb(238, 92, 40);
  text-decoration: underline;
}
.buttonYoutube {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
